body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    /*Se establece el sans-serif por si hay algún problema en la conexión con Google para Poppins*/
}

header,
footer {
    text-align: center;
    width: 300px;
    margin: 30px auto 0px auto;
}

/*---------- BLOQUE FORMULARIO ----------*/
main {
    width: 300px;
    margin: 30px auto 0px auto;
}

form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

label {
    display: block;
    /*Por defecto es inline, block para que ocupe todo el tamaño del contenedor y el input aparezca abajo*/
    margin-bottom: 10px;
    width: 100%;
}

input {
    display: inline;
    width: 236px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-weight: 300;
    font-size: 18px;
}

/*Especialización del input*/
input[type="submit"] {
    background-color: #fd0c49;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
}

input[type="email"] {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 278px;
}

select {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 18px;
}

/*IDS*/
#nicka {
    float: left;
    width: 20px;
    background-color: #ced4da;
    border: 1px solid #ced4da;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

#error {
    text-align: center;
    color: #fd0c49;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}

#size option[value="0"] {
    color: #ced4da;
    /*Para que cuando se abra el menú la opción por defecto se vea gris*/
}

::placeholder {
    color: #ced4da;
    font-weight: 500;
}

.requiredInput {
    color: #b7bcc1;
    font-size: 14px;
    font-weight: 300;
}

/*----- AVATAR -----*/
#avatar {
    float: left;
}

#mainAvatar {
    display: flex;
    background-color: #fff;
    border: solid 1px #fd0c49;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#avatarGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
}

.avatarItem{
    background-color: #fff;
    border: 1px solid #fd0c49;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 5px 0 0 5px;

}

#avatarGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
    margin-top: 30px;
}

.avatarImgItem {
    width: 35px;
}